@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    aside, header, .list-filters, .print-hide {
        display: none !important;
    }

    main {
        padding: 0 !important;
    }

    .card {
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    table {
        width: 100% !important;
    }
}
